* {
    /* margin: 0; */
    /* padding: 0;  */
    box-sizing: border-box;
    font-family: 'Cabin Sketch', Roboto, Verdana, Geneva, Tahoma, sans-serif;
    /* border: 0px solid black; */
  }

body{
    background-color: #d13333;
}

#title_container{
    display: flex;
    justify-content: center;
    margin: 10px;
}

.title{
    font-size: 28px;
    color: goldenrod;
}

h1{
    margin: 0;
    font-family: 'Cabin Sketch', sans-serif;
    text-shadow: 1px 1px white, -1px -1px #444;  
}

#UI_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#UI_buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    margin: 20px;
}

.grid_button{
    font-size: 12px;
    padding: 10px;
    border-radius: 10px;
    border: 2px ridge rgb(160, 160, 160);
    /* box-shadow: 0 0 30px #464646; */
    box-shadow: 5px 5px 8px 2px rgba(0,0,0,0.46);
    font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;
    transition: transform 0.1s;
}

.grid_button:hover{
    transform: scale(1.1);
}

.brush_button{
    padding: 10px;
    height: 90px;
    width: 90px;
    border-radius: 100%;
    border: 4px ridge rgb(160, 160, 160);
    box-shadow: 12px 12px 19px 2px rgba(0,0,0,0.46);
    font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;
    transition: transform 0.1s;
}

.brush_button.active{
    padding: 10px;
    height: 85px;
    width: 85px;
    border-radius: 100%;
    border: 3px ridge rgb(160, 160, 160);
    box-shadow: 6px 6px 8px 1px rgba(0,0,0,0.46);
    font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;
    transition: transform 0.1s;
}

#grid_envelope{
    display: flex;
    justify-content: center;
    margin: 10px;
}

#grid_container{
    width: 540px;
    height: 540px;
    display: grid;
    box-shadow: /* inset */ 0px 0px 12px 5px rgba(0,0,0,0.47);
    background-color: rgb(233, 223, 211);   
    border: 6px solid #b43838;
}

#UI_buttons_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.pixel_black{
    background-color: rgb(77, 77, 77);
}

.pixel_eraser{
    background-color: rgb(233, 223, 211);
}

#gridPixel{
    /* margin: -1px 0 0 -1px; */
    border: 1px solid rgba(0, 0, 0, 0.15);
} 

#footer_container{
    font-family: 'Cabin Sketch', sans-serif;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    font-size: 16px;
    color: goldenrod;
    text-shadow: 1px 1px white, -1px -1px #444;
}

a{
    color: goldenrod;
    text-decoration: none;
}


.context-menu {
    position: absolute;
    border: 1px solid #ccc;
    background-color: #fff;
    box-shadow: 2px 2px 5px #aaa;
    padding: 10px;
    z-index: 1000;
  }
  
  .context-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .context-menu ul li {
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .context-menu ul li:hover {
    background-color: #eee;
  }